ConnectionStrings__RatingsRecommendationsDatabase=Server=localhost\SQLEXPRESS;Database=DiplomskiRatingsRecommendationsDb;Trusted_Connection=True;TrustServerCertificate=True;
RatingsRecommendations__Url=http://localhost:5008
Cors__AllowedOrigin=http://localhost:5173
Jwt__Issuer=SmartCinema.Auth
Jwt__Audience=SmartCinema.Client
Jwt__SecretKey=replace-with-the-same-secret-used-by-auth-microservice
Services__GatewayBaseUrl=http://localhost:5001
