Gateway__Url=http://localhost:5001
Services__AuthBaseUrl=http://localhost:5000
Services__MoviesBaseUrl=http://localhost:5002
Services__HallsBaseUrl=http://localhost:5003
Cors__AllowedOrigin=http://localhost:5173
