ConnectionStrings__HallsDatabase=Server=localhost\SQLEXPRESS;Database=DiplomskiHallsDb;Trusted_Connection=True;TrustServerCertificate=True;
Halls__Url=http://localhost:5003
Cors__AllowedOrigin=http://localhost:5173
Services__ScreeningsBaseUrl=http://localhost:5004
Jwt__Issuer=SmartCinema.Auth
Jwt__Audience=SmartCinema.Client
Jwt__SecretKey=replace-with-the-same-secret-used-by-auth-microservice
