ConnectionStrings__HallsDatabase=Server=localhost\SQLEXPRESS;Database=DiplomskiHallsDb;Trusted_Connection=True;TrustServerCertificate=True;
Halls__Url=http://localhost:5003
Cors__AllowedOrigin=http://localhost:5173
