ConnectionStrings__MoviesDatabase=Server=localhost\SQLEXPRESS;Database=DiplomskiMoviesDb;Trusted_Connection=True;TrustServerCertificate=True;
Movies__Url=http://localhost:5002
Cors__AllowedOrigin=http://localhost:5173
