ConnectionStrings__MoviesDatabase=Server=localhost\SQLEXPRESS;Database=DiplomskiMoviesDb;Trusted_Connection=True;TrustServerCertificate=True;
Movies__Url=http://localhost:5002
Cors__AllowedOrigin=http://localhost:5173
Jwt__Issuer=SmartCinema.Auth
Jwt__Audience=SmartCinema.Client
Jwt__SecretKey=replace-with-the-same-secret-at-least-32-characters-long
