ConnectionStrings__ScreeningsDatabase=Server=localhost\SQLEXPRESS;Database=DiplomskiScreeningsDb;Trusted_Connection=True;TrustServerCertificate=True;
Screenings__Url=http://localhost:5004
Cors__AllowedOrigin=http://localhost:5173
Jwt__Issuer=SmartCinema.Auth
Jwt__Audience=SmartCinema.Client
Jwt__SecretKey=replace-with-the-same-secret-at-least-32-characters-long
Services__GatewayBaseUrl=http://localhost:5001
