ConnectionStrings__ScreeningsDatabase=Server=localhost\SQLEXPRESS;Database=DiplomskiScreeningsDb;Trusted_Connection=True;TrustServerCertificate=True;
Screenings__Url=http://localhost:5004
Cors__AllowedOrigin=http://localhost:5173
